# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
.idea/
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
Library
obj
Temp
Builds
Web/
images/
Assets/smcs*
Assets/gmcs*
ProjectSettings/Physics2DSettings.asset
ProjectSettings/EditorBuildSettings.asset
loadtime.vcd
.vs/
*Thumbs.db*
*.class
android/notifications/.settings/
android/notifications/.classpath
android/notifications/.project
android/viewutils/.classpath
Assets/Resources/env.txt*
*.csproj.meta
*.sln.meta
*.csproj.meta
Assets/Firebase/Plugins/link.xml_DISABLED
Assets/Firebase/Plugins/link.xml_DISABLED.meta
Assets/Resources/manifest.json
Assets/Resources/manifest.json.meta
Logs/
G

Assets/StreamingAssets/bundles/
Assets/StreamingAssets/bundles.meta

Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
.vsconfig
UserSettings/
VIEW Core II.sln.DotSettings.user
bin/
bundle/

viewcore2.sln.DotSettings.user
